* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.content-home {
    /*background-color: #3498db;*/
    background-image: url('../img/papel-parede-gamer5.png');
    background-repeat: no-repeat;
    background-size:cover;
    height:90vh;
    width: 100%;
    display: flex;
    justify-content: center;

    
    
}
.content-home > img {
    border-radius: 10px;
    border: 2px solid #fff;
    margin-top:20px;

   
}

